/* Write your CSS here */
.home-route-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .home-route-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.team-list-container {
  width: 90%;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  .team-list-container {
    width: 90%;
    max-width: 1140px;
  }
}

.ipl-dashboard-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  width: 25px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 96px;
  }
}

.ipl-dashboard-heading {
  color: #ffffff;
  font-size: 36px;
  font-family: 'Bree Serif';
  font-weight: bold;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .ipl-dashboard-heading {
    font-size: 72px;
    margin-left: 16px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
